openai==0.28.0
streamlit==1.27.0
python-dotenv==1.0.1
pandas==2.2.3
requests==2.25.1
langchain==0.3.4
langchain-experimental==0.3.2
supabase==2.7.3
openpyxl==3.1.5
tabulate==0.9.0
pillow==9.5.0
pyarrow==18.0.0
rich==13.9.3
numpy==1.26.4
protobuf==4.25.5
packaging==23.2
pydeck==0.9.1
validators==0.34.0
tzlocal==5.2
tzdata==2024.2
tenacity==8.5.0
sqlalchemy==2.0.36
tornado==6.4.1
